@charset "utf-8";
* {padding: 0; margin: 0;}
body {margin: 0; font-family: "微软雅黑"; font-size: 12px; background: #d2d2d2;}
ul {list-style: none; padding: 0; margin: 0;}
img {border: none;}
input {font-size: 12px; vertical-align: middle; font-family: Tahoma;}
select {font-size: 12px; vertical-align: middle; font-family: Tahoma;}
textarea {font-size: 12px; vertical-align: middle; font-family: Tahoma;}
.clear {clear: both; visibility: hidden; font-size: 1px;}
.middle {vertical-align: middle;}
h2{ font-size:16px;}