@charset "utf-8";
/*连接*/
a{ text-decoration:underline; color:#003564;}
a:hover{text-decoration: underline;  color:#F90}

.uum_page a{ text-decoration: none;}
.uum_page a:hover{ text-decoration: none;}






















